RewriteEngine On

# Permite acesso direto a qualquer coisa dentro de /public
RewriteCond %{REQUEST_URI} ^/public/
RewriteRule ^ - [L]

# Redireciona todo o resto para public/index.php
RewriteRule ^(.*)$ public/index.php?url=$1 [QSA,L]