RewriteEngine On

# Bloqueia acesso direto à pasta app
RewriteRule ^app/ - [F,L]

# Redireciona acesso à raiz para public/index.php
RewriteRule ^$ public/index.php [L]

# Permite acesso direto a arquivos e pastas reais
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redireciona todo o resto para public/index.php
RewriteRule ^(.*)$ public/index.php?url=$1 [QSA,L]