footer {
    padding: 1.5rem 1rem;
    background-color: var(--primary-color);
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
} 

footer .social-media {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer .social-media .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

footer .social-media .title {
    color: var(--background-color);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

footer .social-media a {
    color: var(--background-color);
    font-size: 2rem;
    transition: color 0.3s ease;
}

footer .social-media a:hover {
    text-shadow: 0 0 1rem var(--dark-grey-color);
}

footer .credits {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.2rem;
}

footer .credits p {
    color: var(--background-color);
    font-size: 1.1rem;
    font-weight: 500;
    text-shadow: 0 0 0.2rem var(--dark-grey-color);
}

footer .credits a {
    color: var(--background-color);
    text-decoration: underline;
    font-size: 1.2rem;
    font-weight: 700;
}