header {
    z-index: 1000;
    background-color: var(--background-color);
    min-height: 80px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 1rem;
    min-height: inherit;
}

header .logo-area {
    display: flex;
    align-items: center;
    padding: 5px 0;
    width: 100%;
}

header .logo {
    width: inherit;
}

header .logo img {
    height: 60px;
    width: auto;
}   

header .left--area {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex: 1;
    min-height: inherit;
}

header .right--area {
    display: flex;
    align-items: center;
    flex: 6;
    justify-content: flex-end;
    min-height: inherit;
}

.menu-area {
    width: 100%;
    min-height: inherit;
}

.menu {
    display: flex;
    gap: 0.2rem;
    padding: 0.5rem 0;
    margin: 0;
    min-height: inherit;
    background-color: var(--background-color);
}

.menu li {
    list-style: none;
    flex: 1;
}

.menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0.2rem;
    transition: all 0.1s ease;
    height: 100%;
}

.menu li:hover a,
.menu li.selected a {
    background-color: var(--primary-color);
    color: var(--grey-color);
}

.mobile-menu {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
}

.mobile-menu .line {
    height: 3px;
    width: 32px;
    background-color: var(--primary-color);
    border-radius: 2px;
}

@media (max-width: 800px) {
    header .container {
        flex-direction: column;
        gap: 0;
        padding: 0 0.5rem;
    }

    header .logo-area {
        padding: 8px 0;
    }

    header .left--area,
    header .right--area {
        width: 100%;
        justify-content: space-between;
    }

    .menu {
        flex-direction: column;
        gap: 0;
    }

    .right--area.desactive {
        display: none;
    }

    .mobile-menu {
        display: flex;
        margin-left: auto;
        padding: 16px 0;
    }
}