main {
    background-color: rgba(0, 0, 0, 0.9);
}

.banner-area {
    position: relative;
    height: calc(100vh - 80px);
}

.banner-slide {
    position: absolute;
    inset: 0;
    
    background-size: cover;
    background-position: center;
    
    opacity: 0;
    transition: opacity 0.7s ease-in-out; 

    display: flex;
    flex-direction: column;
}

.banner-slide.active {
    opacity: 1;
}

.banner-slide .container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.banner-slide .container .banner-content {
    flex: 9;
}

.banner-area .slider-area {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    
    padding-bottom: 2rem; 
}

.banner-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6); 
    z-index: 1; 
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner-content h1 {
    max-width: 45rem;
    text-align: center;
    color: var(--grey-color);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    z-index: 2;
    color: var(--primary-color);
}

.banner-content p {
    max-width: 40rem;
    text-align: center;
    color: var(--grey-color);
    font-size: 1.5rem;
    font-style: italic;
    z-index: 2;
}

.slider-area .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.slider-area .dot {
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
}

.slider-area .dot.active {
    background-color: var(--primary-color);
}

@media (max-width: 768px) {
    .banner-content h1 {
        font-size: 2rem;
        padding: 0 1rem;
    }

    .banner-content p {
        font-size: 1rem;
        padding: 0 1rem;
    }
}