body {
    height: 100vh;
}

main {
    background-image: url('../../images/banner/bem-vindo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.schedule-area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
}

.schedule {
    display: flex;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: var(--background-color);
    border-radius: 1.5rem;
}

.schedule .left-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 3;
    background-color: var(--primary-color);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.schedule .left-area .top-area {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
    width: 100%;
    padding: 2rem;
}

.schedule .left-area .top-area .img-area {
    padding: 1.5rem;
    background-color: var(--background-color);
    border-radius: 50%;
}

.schedule .left-area .top-area .img {
    font-size: 6rem;
    color: var(--primary-color);
}

.schedule .left-area .bottom-area {
    flex: 1;
    width: 100%;
    padding: 2rem;
    text-align: center;
}

.schedule .left-area .bottom-area .title {
    color: var(--background-color);
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.schedule .left-area .bottom-area .subtitle {
    color: var(--grey-color);
    font-size: 1.1rem;
    font-weight: 500;
}

.schedule .right-area {
    flex: 4;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.schedule .schedule-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    height: 100%;
    padding: 2rem;
}

.schedule-form .input-group {
    display: flex;
    justify-content: space-between;
    gap: 0.3rem;
    height: 4.5rem;
    border-bottom: 0.1rem solid var(--grey-color);
}

.schedule-form .input-group label {
    width: 40%;
    padding-top: 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--primary-color);
}

.schedule-form .input-group .input-area {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.schedule-form .input-group .input-area input,
.schedule-form .input-group .input-area select {
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--grey-color);
    padding: 0 1rem;
}

.schedule-form .input-group .input-area input {
    height: 65%;
}

.schedule-form .input-group .input-area select {
    flex: 1;
    color: var(--dark-grey-color);
}

.schedule-form .input-group .input-area select option {
    width: auto;
}

.schedule-form .input-group .input-area select option:checked {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.schedule-form .input-group .input-area.pet-sex {
    flex-direction: row;
    align-items: center;
    gap: 30%;
}

.schedule-form .input-group .input-area.pet-sex input {
    width: auto;
    margin: auto 0 auto 1rem;
}

.schedule-form .input-group input[type="radio"] {
    accent-color: var(--primary-color);
    cursor: pointer;
}

.schedule-form .input-group .error-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 30%;
    color: rgb(255, 80, 80);
    font-weight: 500;
}

.schedule-form .input-group .error-area .error-msg {
    display: none;
    width: 100%;
    height: 100%;
    font-size: 1rem;
}

.schedule-form .input-group .error-area .error-msg.show-error {
    display: block;
}

.schedule-form .submit-area .submit-button {
    display: block;
    padding: 0.5rem 1rem;
    margin-left: auto;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

@media (max-width: 900px) {
    .schedule .left-area {
        display: none;
    }

    .schedule-form .input-group label {
        font-size: 1rem;
    }

    .schedule-form .input-group .input-area input::placeholder {
        font-size: 0.8rem;
    }
}

@media (max-width: 550px) {
    .schedule {
        width: 95%;
    }

    .schedule-form .input-group {
        flex-direction: column;
        gap: 0;
        height: 6rem;
    }

    .schedule-form .input-group label {
        width: 100%;
        font-size: 1rem;
        text-align: left;
    }

    .schedule-form .input-group .input-area {
        width: 100%;
        height: 100%;
    }

    .schedule-form .input-group .input-area input {
        width: 100%;
        height: 65%;
    }

    .schedule-form .input-group .input-area input::placeholder {
        font-size: 0.8rem;
    }

    .schedule-form .input-group .input-area.pet-sex .left,
    .schedule-form .input-group .input-area.pet-sex .right {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        flex: 1;
    }

    .schedule-form .input-group .error-area .error-msg {
        font-size: 1rem;
    }
}

@media (max-height: 600px) {
    .schedule-area {
        height: auto;
        padding: 1.5rem 0 3rem 0;
    }

    .schedule-form .input-group {
        flex: none;
    }
}