main {
    background-image: url('../../images/banner/cuidados.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

main .schedule-confirmation-area {
    padding: 1rem 0;
}

main .schedule-confirmation-area .schedule-confirmation {
    width: 70%;
    margin: auto;
    padding: 1rem;
}

.schedule-confirmation-area .header-area,
.schedule-confirmation-area .content-area {
    padding: 2rem;
}

.schedule-confirmation-area .header-area {
    background-color: var(--primary-color);
}

.schedule-confirmation-area .header-area h1 {
    color: var(--background-color);
    font-size: 3rem;
    font-weight: 700;
}

.schedule-confirmation-area .content-area {
    background-color: var(--background-color);
}

.schedule-confirmation-area .content-area .top-area {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.schedule-confirmation-area .content-area .top-area .icon-area {
    padding: 1rem;
}

.schedule-confirmation-area .content-area .top-area .icon-area i {
    font-size: 9rem;
    color: var(--primary-color);
}

.schedule-confirmation-area .content-area .top-area .text-area h2 {
    color: var(--secondary-color);
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.schedule-confirmation-area .content-area .top-area .text-area p {
    color: var(--dark-grey-color);
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-weight: 400;
    text-align: justify;
}

.schedule-confirmation-area .content-area .bottom-area .schedule-infos .header {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    background-color: var(--grey-color);
    padding: 1rem;
}

.schedule-confirmation-area .content-area .bottom-area .schedule-infos .content {
    padding: 0 1rem;
    font-size: 1.3rem;
    font-weight: 400;
}
    
.schedule-confirmation-area .content-area .bottom-area .schedule-infos .content .info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--grey-color);
}

.schedule-confirmation-area .content-area .bottom-area .schedule-infos .content .info-item .label {
    font-weight: 700;
}

.schedule-confirmation-area .content-area .bottom-area .schedule-infos .content .info-item .value {
    text-align: left;
    width: 55%;
    font-weight: 400;
    color: var(--dark-grey-color);
}

@media (max-width: 920px) {
    main .schedule-confirmation-area .schedule-confirmation {
        width: 75%;
    }
}

@media (max-width: 768px) {
    main .schedule-confirmation-area .schedule-confirmation {
        width: 80%;
    }
    .schedule-confirmation-area .content-area .top-area .icon-area i {
        font-size: 7rem;
    }

    .schedule-confirmation-area .content-area .top-area .text-area h2 {
        font-size: 2.2rem;
    }

    .schedule-confirmation-area .content-area .top-area .text-area p {
        font-size: 1.1rem;
    }

    .schedule-confirmation-area .content-area .bottom-area .schedule-infos .content .info-item {
        flex-direction: column;
        gap: 0.3rem;
    }

    .schedule-confirmation-area .content-area .bottom-area .schedule-infos .header {
        font-size: 1.8rem;
    }
}

@media (max-width: 700px) {
    .schedule-confirmation-area .content-area .top-area .icon-area i {
        font-size: 5rem;
    }

    .schedule-confirmation-area .content-area .top-area .text-area h2 {
        font-size: 2rem;
    }

    .schedule-confirmation-area .content-area .top-area .text-area p {
        font-size: 1rem;
    }

    .schedule-confirmation-area .content-area .bottom-area .schedule-infos .header {
        font-size: 1.5rem;
    }
}

@media (max-width: 600px) {
    .schedule-confirmation-area .header-area h1 {
        font-size: 2.5rem;
    }

    .schedule-confirmation-area .content-area .top-area .icon-area i {
        font-size: 4rem;
    }

    .schedule-confirmation-area .content-area .top-area .text-area h2 {
        font-size: 1.6rem;
    }

    .schedule-confirmation-area .content-area .top-area .text-area p {
        font-size: 0.8rem;
    }

    .schedule-confirmation-area .content-area .bottom-area .schedule-infos .header {
        font-size: 1.3rem;
    }

    .schedule-confirmation-area .content-area .bottom-area .schedule-infos .content .info-item .label {
        font-size: 1.1rem;
    }
}

@media (max-width: 500px) {
    main .schedule-confirmation-area .schedule-confirmation {
        width: 90%;
    }
}

@media (max-width: 400px) {
    main .schedule-confirmation-area .schedule-confirmation {
        width: 97%;
    }
}

